beautifulsoup4==4.13.4
crewai==0.102.0
Cython==3.0.0
dashscope==1.22.1
pydantic
PyYAML==6.0.1
Requests==2.32.3
setuptools==65.5.0
tomlkit==0.13.2
aipyapp==0.1.28
crewai_tools
rich
python_dateutil==2.8.2
markdown==3.8.2